#nav {
    width: 100%;
    float: right;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none; }
#nav li {
    float: right; }

    #nav {
        width: 100%;
        float: right;
        margin: 0 0 3em 0;
        padding: 0;
        list-style: none;
        background-color:#1ab2ff;
        border-bottom: 1px solid #ccc; 
        border-top: 1px solid #ccc; }
    
    #nav li a {
            display: block;
            padding: 8px 15px;
            text-decoration: none;
            font-weight: bold;
            color: #069;
            border-right: 1px solid #ccc; }